body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#sum {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#tipList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tip-item {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.tip-item span {
    margin-right: 10px;
}

.tip-item button {
    background-color: #f44336;
    transition-duration: 0.4s;
}

.tip-item button:hover {
    background-color: #d32f2f;
}